@using Inventario.Models.Dominio.Ventas
@using Inventario.WebApp.Areas.Ventas.Models
@model VentaParaCrear



<div class="container table-bordered bg-light">

    <a >Venta</a>

    @if(Model.venta.Estado != EstadoVenta.EnProceso)
    {
        <form asp-controller ="Venta" asp-action="Create" method="post">
            <div class="row g-4">
                <div class="col-auto">
                    <input type="text" readonly="readonly " class="form-control" name="UserId" asp-for="venta.UserId" />
                </div>
                <div class="col-auto">
                    <input type="text" readonly="readonly " class="form-control" name="CajaId" asp-for="venta.IdAperturaDeCaja" />
                </div>

                <div class="col-auto">
                    <input type="text" class="form-control" placeholder="Cliente.." asp-for="venta.NombreCliente" />
                    <span asp-validation-for="venta.NombreCliente" class="text-danger"></span>
                </div>

                <div class="col-auto">
                    <button type="submit"  class="btn btn-outline-dark">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
                        </svg>

                        Agregar Item
                    </button>
                </div>
             
            </div>
        </form>

        
    }else
    {
        <div class="row g-4">
            <div class="col-auto">
                <label asp-for="venta.Id" class="control-label"></label>
                <input type="text" readonly="readonly " class="form-control" name="id" asp-for="venta.Id" />
            </div>

            <div class="col-auto">
                <label asp-for="venta.UserId" class="control-label"></label>
                <input type="text" readonly="readonly " class="form-control" name="UserId" asp-for="venta.UserId" />
            </div>
            <div class="col-auto">
                <label asp-for="venta.IdAperturaDeCaja" class="control-label"></label>
                <input type="text" readonly="readonly " class="form-control" name="UserId" asp-for="venta.IdAperturaDeCaja" />
            </div>

            <div class="col-auto">
                <label asp-for="venta.NombreCliente" class="control-label"></label>
                <input type="text" readonly="readonly" class="form-control" name="Cliente" asp-for="venta.NombreCliente" />
            </div>
            
            <div>
                <partial name="_AgregarItemParcial" />
            </div>
            
            <div>
                <partial name="_VentaItemParcial" />
            </div>

        </div>

        <div class="col align-self-end">
            <div class="row g-4">
                <div class="col-auto">
                    <h3>Sub Total</h3>
                </div>
                <div class="col-auto">
                    <P> @Model.venta.VentaDetalles.Sum(i=>i.Monto))</P>
                </div>
            </div>
        </div>

        <div class="col align-self-end">
            <div class="row g-4">
                <div class="col-auto">
                    <h3>Descuento </h3>
                </div>
                <div class="col-auto">
                    <P> @{
                        decimal montodescuento = Model.venta.VentaDetalles.Sum(i=>i.MontoDescuento);
                    } @montodescuento</P>
                    @{
                        decimal total = Model.venta.SubTotal - Model.venta.MontoDescuento;
                    }
                </div>
            </div>
        </div>

        <div class="col align-self-end">
            <div class="row g-4">
                <div class="col-auto">
                    <h2>Total </h2>
                </div>
                <div class="col-auto">
                    <P> @total</P>
                </div>
            </div>
        </div>
        <div class="row g-4">
            <form asp-controller="Venta" asp-action="TerminarLaVenta" asp-route-id="@Model.venta.Id">

               @* <input type="hidden" readonly="readonly " class="form-control" name="UserId" asp-for="venta.Id" />*@
                <button type="submit" class="btn btn-outline-dark">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg>
                    Terminar
                </button>

            </form>
       
        </div>
    }


    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
   
</div>

