@using Inventario.WebApp.Areas.Autenticacion.Models;
@model LoginDto﻿

<form asp-controller="Cuenta" asp-action="Login" method="post">
    <div class="container border p-4">
        <div class="row text-center">
            <h1>Login</h1>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3 pb-2">
                <input   asp-for="Correo" class="form-control" placeholder="Email..."/>
                <span asp-validation-for="Correo" class="text-danger" />
            </div>
            <div class="col-12 col-md-6 offset-md-3 pb-2">
                <input asp-for="Contraseña" class="form-control" placeholder="Contraseña..." />
                <span asp-validation-for="Contraseña" class="text-danger" />
            </div>
            <div class="col-12 col-md-6 offset-md-3 pb-2">
                <button type="submit" class="form-control btn btn-success" value="Submit">Ingreasr</button>
            </div>
        </div>
    </div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}