@using Inventario.WebApp.Areas.Ventas.Modelos
@model UsuarioConCajaAbierta

@{
    ViewData["Title"] = "Index";
}


<div b-xnbhh5729m="" style="margin-block: 12%">

    <div b-xnbhh5729m="" class="container">
        <main b-xnbhh5729m="" role="main" class="pb-3">

            <div class="text-center">
                @if (Model.TieneUnaCajaAbierta)
                {

                    <h2 style="color:aliceblue;" id="toggle-visibility">
                        El usuario  <code style="color:blueviolet;">@Model.Usuario.UserName</code> ya tiene una caja abierta <a class="anchor-link" href="#toggle-visibility" aria-label="Link to this section: Toggle visibility"></a>
                        </h2>

                }

                @if (!Model.TieneUnaCajaAbierta)
                {
                    <div class="container">
                        <h1 class="jumbotron-heading">  </h1>
                            <code style="color:blueviolet;">@Model.Usuario.UserName</code>
                            <p class="lead text-muted">¡Bienvenido/a al sistema de ventas!</p>
                            <p>
                           
                                <a asp-action="AbrirCaja" class="btn btn-primary my-2">Abrir una Caja</a>
                            </p>
                    </div>

                }
            </div>
            <a asp-area ="" asp-controller="Home" asp-action="Index" class="btn btn-secondary my-2">Regresar al home</a>

        </main>
    </div>
</div>


   
