@using Inventario.WebApp.Areas.Ventas.Modelos
@model UsuarioConCajaAbierta

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);" class="container">
    <a class="alert-info">@Model.Usuario.UserName</a>
</div>

@if (!Model.TieneUnaCajaAbierta)
{
    <div class="container">
        <h1 class="jumbotron-heading">A/h1>
        <p class="lead text-muted">¡Bienvenido/a al sistema de ventas!</p>
        <p>
            <a href="#" class="btn btn-primary my-2">Regresar al home</a>
            <a asp-action="AbrirCaja" class="btn btn-secondary my-2">Nueva venta</a>
        </p>
    </div>

}



   
