@using Inventario.WebApp.Areas.Ventas.Models;
@using Inventario.Models.Dominio.Ventas;
@model VentaParaCrear

@{
    ViewData["Title"] = "Index";
}

<h1>Ventas</h1>
@if(Model.venta.Estado != EstadoVenta.EnProceso)
    {
        <form asp-controller ="Venta" asp-action="Create" method="post">
            <div class="row g-4">
            <div class="input-group">
                <span class="input-group-text">Id de usuario</span>
                   <input type="text" readonly="readonly " class="form-control" name="UserId" asp-for="venta.UserId" />
                </div>
            <div class="input-group">
                <span class="input-group-text">Apertura de caja #:</span>
                <input type="text" readonly="readonly " class="form-control" name="CajaId" asp-for="venta.IdAperturaDeCaja" />
                </div>

            <div class="input-group">
                    <input type="text" class="form-control" placeholder="Cliente.." asp-for="venta.NombreCliente" />
                    <span asp-validation-for="venta.NombreCliente" class="text-danger"></span>
                </div>

            <div class="input-group">
                    <button type="submit"  class="btn btn-outline-dark">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
                        </svg>

                        Agregar Item
                    </button>
                </div>
             
            </div>
        </form>

        
    }else
    {
        <div class="row g-4">
        <div class="input-group">
            <span class="input-group-text">Id de usuario</span>
                <input type="text" readonly="readonly " class="form-control" name="id" asp-for="venta.Id" />
            </div>

        <div class="input-group">
            <span class="input-group-text">Id de usuario:</span>
                <input type="text" readonly="readonly " class="form-control" name="UserId" asp-for="venta.UserId" />
            </div>
        <div class="input-group">
            <span class="input-group-text">Apertura de caja #:</span>
                <input type="text" readonly="readonly " class="form-control" name="UserId" asp-for="venta.IdAperturaDeCaja" />
            </div>

        <div class="input-group">
            <span class="input-group-text">Cliente:</span>
                <input type="text" readonly="readonly" class="form-control" name="Cliente" asp-for="venta.NombreCliente" />
            </div>
            
            

        </div>        
    }

<div class="card" style="flex-direction: row; display: flex; justify-content:space-around;">

    <div class="card" style="margin: 1%">
        <h2>Carrito de compras</h2>
        @Html.Partial("ProductosParcial", Model)
       
    </div>

    <div class="card" style="margin: 1%">
        <h2>Inventario</h2>
       
        @Html.Partial("InventarioParcial", Model)
    </div>
</div>
<div class="card mb-2">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12 text-end">
                <button class="btn btn-primary me-2" id="btnTerminarVenta"><i class="bi bi-currency-dollar"></i> Terminar Venta</button>
                <button class="btn btn-danger" id="btnLimpiarLista"><i class="bi bi-x-circle-fill"></i> Limpiar Lista</button>
            </div>
        </div>
    </div>
</div>