@using Inventario.Models.Dominio.Usuarios
@using Inventario.WebApp.Areas.Ventas.Models
@model UsuarioParaCerar

@{
    ViewData["Title"] = "Index";
}

<h1>Iniciando....</h1>


<div class="container">
  <a class="alert-info">@Model.Usuario.UserName</a>
</div>
@if(Model.TieneUnaCajaAbierta){
    <p>
        <a class="btn btn-pill btn-primary" asp-action="CrearVenta">Iniciar un nueva venta</a>
    </p>

}

