@using Inventario.Models.Dominio.Usuarios;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AplicationUser> SignInManager
@inject UserManager<AplicationUser> UserManager
<style>
    body {
        margin: 0;
        padding: 0;
        background-color: whitesmoke;
        background: rgb(244,244,244);
        background: linear-gradient(33deg, rgba(244,244,244,1) 0%, rgba(247,247,247,1) 44%, rgba(206,207,208,1) 52%, rgba(166,168,170,1) 61%, rgba(111,113,117,0.9803571941471901) 71%);
        height: 100vh;

    }


    #login .container #login-row #login-column #login-box {
        margin-top: 120px;
        max-width: 600px;
        height: 320px;
        border: 1px solid #9C9C9C;
        background-color: burlywood;
    }

        #login .container #login-row #login-column #login-box #login-form {
            padding: 20px;
        }

            #login .container #login-row #login-column #login-box #login-form #register-link {
                margin-top: -85px;
            }

</style>

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
            <a style="color:aliceblue" class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hola @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="btn btn-outline-primary me-2">Logout</button>
        </form>
    </li>
}
else
{
        <div class="text-end">

        
            <a class="btn btn-warning" asp-area="Identity" asp-page="/Account/Register">Register</a>
       
            <a class="btn btn-outline-light me-2" asp-area="Identity" asp-page="/Account/Login">Login</a>
       
        </div>

      }
</ul>
