@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>[Nombre de la empresa] ("nosotros", "nuestro" o "la empresa") se compromete a proteger y respetar tu privacidad. Esta Política de Privacidad establece cómo recopilamos, utilizamos y protegemos la información personal que puedas proporcionarnos a través de nuestro sitio web [URL del sitio web] (en adelante, "Sitio") y los servicios relacionados. Te pedimos que leas detenidamente esta Política de Privacidad para comprender nuestras prácticas en cuanto a tus datos personales y cómo los trataremos.</p>
