@{
    ViewData["Title"] = "Politica de privacidad";
}
<h1 class="text-white">@ViewData["Title"]</h1>

<p class="text-white">VentasLibres, se compromete a proteger y respetar tu privacidad. Esta Política de Privacidad establece cómo recopilamos, utilizamos y protegemos la información personal que puedas proporcionarnos a través de nuestro sitio web [URL del sitio web] (en adelante, "Sitio") y los servicios relacionados. Te pedimos que leas detenidamente esta Política de Privacidad para comprender nuestras prácticas en cuanto a tus datos personales y cómo los trataremos.</p>
