@using Inventario.Models.Dominio.Usuarios
@using Inventario.WebApp.Areas.Ventas.Modelos
@model AperturaDeCajaViewModel

@{
    ViewData["Title"] = "Index";
}

<section class="py-5 text-center container">



    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 mb-5">
                <div class="card">
                    <div class="row py-lg-5">
                        <div class="col-lg-6 col-md-8 mx-auto">
                            <h1 class="fw-light">Sistemas de ventas</h1>
                            <spam>Cajero/a:</spam> <code style="color:blueviolet;">@Model.Usuario.UserName</code>

                            @if (Model.TieneUnaCajaAbierta)
                            {


                                <p class="lead text-muted">¡Bienvenido/a al sistema de ventas!</p>
                                <p>
                                    <div style="display:flex; flex-direction:row;">
                                        <div style="margin-right:10px;">
                                            <a asp-action="VentaEnProceso" class="btn btn-primary d-inline-flex align-items-center">Iniciar un nueva venta</a>
                                        </div>
                                        <div>
                                            <a href="/" class="btn btn-outline-secondary d-inline-flex align-items-center">Regresar al home</a>
                                        </div>

                                    </div>
                                </p>

                            }
                            else
                            {
                                <p class="lead text-muted"> No tiene cajas abiertas</p>
                                <p>
                                    <a asp-controller="AperturasDeCaja" asp-action="index" class="btn btn-primary d-inline-flex align-items-center">Abrir caja</a>
                                    <a href="/" class="btn btn-outline-secondary d-inline-flex align-items-center">volver</a>
                                </p>

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>