@using Inventario.WebApp.Models.Products;
 @using Inventario.WebApp.Models.Products;
@model  CrearAjuste;

@{
    ViewData["Title"] = "Create";
    double precio = (double)Model.Inventario.Precio;
    

}

<h1>Create</h1>

<h4>Inventarios</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group ">
                
                <input type ="hidden" readonly="readonly" asp-for="Inventario.Id" class="form-control" />
                <span asp-validation-for="Inventario.Nombre" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Inventario.Nombre" class="control-label"></label>
                <input readonly="readonly" asp-for="Inventario.Nombre" class="form-control" />
                <span asp-validation-for="Inventario.Nombre" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Inventario.Precio" class="control-label"></label>
                <input asp-for = "Inventario.Precio" readonly="readonly" class="form-control" value="@precio" /> 
                <span asp-validation-for="Inventario.Precio" class="text-danger"></span>
            </div>
           

            <div class="form-group">
                <label asp-for="Ajuste.CantidadActual" class="control-label"></label>
                <input readonly="readonly" asp-for="Ajuste.CantidadActual" class="form-control" value ="@Model.Inventario.Cantidad"/>
                <span asp-validation-for="Ajuste.CantidadActual" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="Ajuste.Tipo" class="control-label"></label>
                <select  asp-for="Ajuste.Tipo" class="form-select" asp-items="@Html.GetEnumSelectList<TipoAjuste>()" ></select>
                
                <span asp-validation-for="Ajuste.Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ajuste.Ajuste" class="control-label " ></label>
                <input asp-for="Ajuste.Ajuste" class="form-control" />
                
                <span asp-validation-for="Ajuste" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ajuste.Observaciones" class="control-label "></label>
                <input asp-for="Ajuste.Observaciones" class="form-control" />

                <span asp-validation-for="Ajuste" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
