@using Inventario.WebApp.Areas.Productos.Models;
@model CrearInventario;



<div class="col-lg-6 mb-5">
    <div class="card">
        <div class="card-header">
            <h4 class="card-heading">Ingrese un producto</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Nombre" class="control-label"></label>
                        <input asp-for="Nombre" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Categoria" class="control-label"></label>
                        <select asp-for="Categoria" class="form-select" asp-items="Html.GetEnumSelectList<Categoria>()"> </select>
                        <span asp-validation-for="Categoria" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Cantidad" class="control-label"></label>
                        <input readonly="readonly" asp-for="Cantidad" class="form-control" value="0" />

                        <span asp-validation-for="Cantidad" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Precio" class="control-label "></label>
                        <input asp-for="Precio" class="form-control" />

                        <span asp-validation-for="Precio" class="text-danger"></span>
                    </div>
                    <div style="margin-block:10px;" class="form-group">
                        <button type="submit" class="btn btn-primary">Aceptar</button>
                    </div>
                </form>
            </div>
        </div>
        <div>
        </div>
    </div>
    <a style="margin-block:20px;" class="btn btn-info" asp-action="Index">Volver al inventario</a>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
