@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Su usuario ha sido bloqueado por exceder el numero de intentos fallidos.</p>
    <p class="text-danger">Revise su correo para más informacion, o intente ingresar en 10 minutos</p>
</header>
