@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirme su registro";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {

<p>

            Haga click aquí: <a id="confirm-link" href="@Model.EmailConfirmationUrl"> Confirmar correo </a> para confirmar su cuenta, se le enviará un correo electrónico inmediatamente luego de la confirmación
</p>
    }
    else
    {
<p>
        Por favor revisa tu correo.
</p>
    }
}

